 /*	RESET BROWSER STYLES
-------------------------------------------------------------------------- */
 
 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline
 }
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block
 }
 
 ol,
 ul {
     list-style: none
 }
 
 blockquote,
 q {
     quotes: none
 }
 
 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0
 }
 /* Make box-sizing "border-box" as default */
 
 html {
     box-sizing: border-box;
 }
 
 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }
 /* MAIN TAGS FORMATING
 --------------------------------------------------------------------------------------------------*/
 /*#Region main tags*/
 /*reference size for fonts------------------------------*/
 
 html {
     font-size: 16px;
     scroll-behavior: smooth;
 }
 
 body,
 button,
 input,
 select {
     font-family: 'Poppins', sans-serif;
     font-size: 1.5em;
     font-weight: 300;
     letter-spacing: 0.0254em;
     line-height: 1.5;
     color: #333;
 }
 /* TITLES
 -----------------------------------------------------------*/
 
 header h1,
 h2,
 h3,
 h4,
 h5 {
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
 }
 
 h1 {
     font-size: 1.8em;
     color: black;
     margin-bottom: 1.3em;
     /*real margin in px: */
 }
 
 h2 {
     font-size: 1.2em;
     margin-bottom: .3em;
 }
 /*links
 -----------------------------------*/
 
 a {
     text-decoration: none;
     outline: none;
     color: inherit;
 }
 
 section a:hover {
     color: #21b2a6;
 }
 /* PARAGRAPHS*/
 
 p {
     margin-bottom: 1em;
     padding: 1em;
     font-size: 14px;
 }
 /* STANDARD TAGS FOR BOLD
 ------------------------------------------------------------*/
 
 strong {
     font-weight: 500;
     color: black;
 }
 
 em {
     font-style: italic;
 }
 /* IMAGES
 -------------------------------------*/
 
 img {
     display: block;
     width: 100%;
     height: auto;
 }
 /*Form Elements
 ------------------------------*/
 
 input,
 select {
     width: 200px;
 }
 
 label {
     display: inline-block;
     width: 100%;
     max-width: 100px;
 }
 /* SELECTIONS, PLACEHOLDERS
----------------------------------------------*/
 /*Document selection*/
 
 ::selection {
     background-color: #282e3e;
     color: #fff;
 }
 /*Form elements placeholders*/
 
 ::placeholder {
     color: #ccc;
 }
 /*#endregion*/
 /*3. HELPER CLASSES (reusable styles)
-------------------------------------------------------------------------- */
 /*Font-----*/
 
 .font400 {
     font-weight: 400;
 }
 
 .font500 {
     font-weight: 500;
 }
 
 .font700 {
     font-weight: 700;
 }
 .display {
     display: inline-block;
 }
 /* MARGINS*/
 /* .margin-bottom1 {
     margin-bottom: 1em;
    }
 
 .margin-bottom1p5 {
     margin-bottom: 1em;
 }
 
 .margin-bottom2 {
     margin-bottom: 1em;
 }
 
 .MT2 {
     margin-top: 2rem;
 }
 
 .my2 {
     margin: 2rem 0;
 } */
 /* PADDING*/
 /* .padding-bottom1 {
     padding-bottom: 1em;
 }
 
 .padding-bottom1p5 {
     padding-bottom: 1em;
 }
 .padding-bottom2 {
     padding-bottom: 1em;
 }   */
 /* BGS */
 /* .bd-grey {
     background-color: rgba(0, 0, 0, 0.1);
     padding: 1em;
 } */
 /* .flex {
     display: flex;
 } */
 /*ROWS AND COLUMNS
 ----------------------------*/
 
 .row {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .column-2 {
	width: 30%;

}
 /* HEADER 
 --------------------------------------------*/
 
 #top-header {
     border-bottom: solid 2px rgba(255,255,255,0.4);
     position: absolute;
     /* padding: 0px; */
 }
 
 #logo {
     width: 20%;
 } 

 
 .main-menu li {
     margin-left: 2em;
     position: relative;
     /* padding: 0; */
 }
 
 .main-menu a {
     color: white;
     outline: none;
     transition: color .5s ease, background .5s ease;
     padding: 10px;
 }
 
 .main-menu a:hover {
     color: #9966ff;
     background-color: #c3e3ff;
 }
 .current {
    font-weight: 900;
} 





 /* MAIN 
 --------------------------------------------*/
 #header-img {
    background-image: url("assets/teddy-images/t.jpg"); 

     /* height: 100vh; */
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     color: #fff;
     justify-content: center;
     align-items: center;
 }
 .inner {
     width: auto;
     padding: 1em .5em;
    text-align: center;
    margin-left: 26em;
    margin-top: 10em;
} 
 .header-title {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
 }

 .cta {
     background-color: #ed4933;
     color: #ffffff;
 }
 
 .cta {
     transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
     border-radius: 3px;
     border: 0;
     box-shadow: inset 0 0 0 2px #fff;
     color: #fff;
     cursor: pointer;
     font-size: 0.8em;
     font-weight: 600;
     height: 3.125em;
     letter-spacing: 0.225em;
     line-height: 3.125em;
     max-width: 30em;
     padding: 0 2.75em;
     text-align: center;
     text-transform: uppercase;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     margin-top: -200px;
 } */
 
/* SECTION
-----------------------*/
/*Sections*/
/* section {
	padding: 1em 4%;
	background-color: #f5f5f5;
	margin-bottom: 1em;

} */
 #section1 {
     position: relative;
     background: lightblue;
     text-align: center;
     padding: 2.5em 0 1.5em 0;
     margin-bottom: 0;
     /* margin-top: -9px; */
 }
 
 .container {
     padding: 1em;
     background-color: lightgray;
     width: 100%;
     height: 100%;
 }
 
 .container article {
     margin: 1em;
     padding: 2em;
 }
 
 .img-1 {
     width: 70%;
     margin-left: 2.2em;
     border-style: solid;
     border-width: 10px;
     /* border-radius: 50%; */
     border-color: lemonchiffon;
 }
 
 .p-font {
     font-size: 15px;
 }
 
 .bg-video {
     width: 300px;
     height: 220px;
     border-style: solid;
     border-width: 10px;
     border-color: lemonchiffon;
 }
 
 .container article {
     background: #fff;
     text-align: center;
     border: solid 6px 5% linen;
     margin: 1em 1em;
     white-space: normal;
     opacity: 1.0;
 }
 
 .button {
     background-color: lightblue;
     padding: .7em;
     font-size: 0.6em;
     margin-left: 4em;
 }
 /* END OF SECTION ONE------------------- */
 /*  SECTION TWO--------------------- */
 
 .bottom-container {
     width: 100%;
     height: 400px;
     position: relative;
     text-align: left;
     align-content: center;
     background-image: url("assets/teddy-images/ted.jpg");
     background-size: cover;
     background-position: center;
     color: lightgreen;
     display: table;
 }
 
 .bottom-text-container {
     display: table-cell;
     vertical-align: middle;
     position: relative;
 }
 
 .text {
     margin-left: 100px;
     font-size: 48px;
     letter-spacing: 12px;
     color: black
 }
 
 .text-2 {
     font-size: 35px;
     margin-left: 18px;
     color: black;
 }
 /*  END OF SECTION TWO--------------------- */
 
 .column {
     column-count: 3;
     background-color: blanchedalmond;
     margin: 18px;
     align-items: center;
 }
 /*  END OF SECTION THREE--------------------- */
 /* footer 
 --------------------------------------------*/
 
 .footer-box {
     margin-top: 0;
     padding: 20px;
     background-color: lightblue;
 }
 
 .social-icons {
     text-align: center;
     padding-top: 1px;
 }
 
 .social-icons li {
     display: inline-block;
     list-style-type: none;
 }
 
 .social-icons li a {
     border-bottom: none;
 }
 
 .social-icons li img {
     width: 85px;
     height: 55px;
     /* margin-right: 20px; */
 }
 
 .copyright {
     text-align: center;
     color: white;
 }
 /* GALLERY MAIN --------------------------------------------------------*/
 
 .wrapper.style2 {
     background-color: #2e3842;
 }
 
 .wrapper.alt {
     padding: 0;
 }
 
 .wrapper {
     padding: 6em 0 4em 0;
 }
 
 .spotlight:nth-child(1) {
     background-color: rgba(0, 0, 0, 0.075);
 }
 
 .spotlight:nth-child(2) {
     background-color: rgba(0, 0, 0, 0.15);
 }
 
 .spotlight .image img {
     border-radius: 0;
     width: 100%;
 }
 
 .spotlight {
     align-items: center;
     display: flex;
 }
 
 .spotlight .image {
     order: 1;
     border-radius: 0;
     width: 50%;
 }
 
 .image {
     border-radius: 3px;
     border: 0;
     display: inline-block;
     position: relative;
     margin-left: 30px;
 }
 
 .image-middle {
     margin-right: 30px;
 }
 
 .spotlight .content {
     padding: 2em 4em 0.1em 4em;
     order: 2;
     max-width: 48em;
     width: 50%;
 }
 /* .image img {
    border-radius: 3px;
    display: block;
} */
 
 .description {
     color: #fff;
     font-weight: 800;
     letter-spacing: 0.225em;
     line-height: 1em;
     margin: 0 0 1em 0;
     text-transform: uppercase;
 }
 
 .bg-img {
     width: 100%;
 }
 
 .row {
     display: flex;
     justify-content: space-between;
     padding: 3em;
 }
 
 .image1 {
     width: 100%;
     border: solid 6px linen;
 }
 
 .image2 {
     width: 50%;
     margin-left: 70px;
     margin-bottom: 30px;
 }
 
 .p-box {
     width: 50%;
     height: 20%;
     background-color: #cceeff;
     /* border: solid 6px linen; */
     margin: 5em 5em 5em 4em;
 }
 
 .paragraph {
     padding: 3em 3em 0 3em;
     text-align: center;
     font-size: .9em;
 }
 
 .row article {
     background: #cceeff;
     text-align: center;
     /* border: solid 6px linen; */
     margin: 1em 1em;
     padding: 4em;
     width: 50%;
     white-space: normal;
     opacity: 1.0;
 }
 
 .row {
     display: flex;
     justify-content: space-around;
     padding: 1em;
     /* width: 100%;
   height: 100%; */
 }
 
 .row>article {
     margin: 1em;
     padding: 2em;
 }
 /*the end--------*/