  /*	RESET BROWSER STYLES
-------------------------------------------------------------------------- */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
/* Make box-sizing "border-box" as default */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/*main tags */

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.5em;
    color: #333;
}

header h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    line-height: 1.75;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Lobster', cursive;
    color: black;
    margin-bottom: 0;
    /*real margin in px: */
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
}

h3 {
    font-size: 1.1em;
    font-weight: 400;
}
/* PARAGRAPHS----------------*/

p {
    margin-bottom: 1em;
    margin-top: 2em;
}
/*links
--------------------------------*/

a {
    text-decoration: none;
    outline: none;
    color: white;
}

a:hover {
    color: black;
}
/*Standard Tags For Bold*/

strong {
    font-weight: 500;
    color: red;
}

em {
    font-style: italic;
}
/*Images
-------------------*/

img {
    display: block;
    width: 100%;
    height: auto;
}
/* Form Element*/
/* Selection, placeholder*/
/*3. HELPER CLASSES (reusable styles)
-------------------------------------------------------------------------- */

.font400 {
    font-weight: 400;
}

.font500 {
    font-weight: 500;
}

.font700 {
    font-weight: 700;
}

.align-center {
    text-align: center;
}
/* MARGINS*/

.m0 {
    margin: 0;
}
.m1 {
    margin: 1em;
}
.m5 {
    margin: 5em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mb-1 {
    margin-bottom: 1em;
}
/*
.margin-bottom1p5 {
   margin-bottom: 1em;
}

.margin-bottom2 {
   margin-bottom: 1em;
}

.MT2 {
   margin-top: 2rem;
}

.my2 {
   margin: 2rem 0;
} */
/* PADDING*/
.pd-1 {
    padding:1em;
}
.pd-4 {
    padding: 4em;
}
 .pb-1 {
   padding-bottom: 1em;
}

/*.padding-bottom1p5 {
   padding-bottom: 1em;
}
.padding-bottom2 {
   padding-bottom: 1em;
}   */
/* BGS */
/* .bd-grey {
   background-color: rgba(0, 0, 0, 0.1);
   padding: 1em;
} */
/*rows and columns*/

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row.align-top {
    align-items: flex-start;
}

.with-video .row {
    display: block;
}

.with-video .row .column-2 {
    width: 100%;
} 
.column {
    width: 47%;
    display: block;
}

.column-1 {
    width: 40%;
}

.column-2 {
    width: 30%;
}

.columns {
    width: 30%;
}

.columns:nth-child(1), .columns:nth-child(4) {
    margin-left: 3em;
}
 /*display inline block
----------------------------*/

.display {
    display: inline-block;
}
/*Header with borders top-bottom helper*/

.inner {
    background: rgba(3, 3, 3, 0.28);
    margin-top: 3em;
    color: #ffffff;
    padding: 1em;
}

.border {
    font-family: 'Lobster', cursive;
    padding: .3em;
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
}
/*Layout
-------------------------*/
/* HEADER 
--------------------------------------------*/

.top-header {
    position: absolute;
    width: 100%;
    height: 3.25em;
    left: 0;
    top: 0;
    padding: 2em;
    padding-bottom: 2em;
    line-height: 3.25em;
    animation: none;
    background: none;
    z-index: 10000;
    cursor: default;
    /* border-bottom: solid 3px rgba(0, 0, 0, 0.18); */
}

#logo {
    width: 20%;
    max-width: 100px;
}
/*main
---------------------------*/

section {
    padding: 2em 4%;
    background-color: rgba(89, 100, 126, 0.27);
}
/*Menu
---------------------------------*/

#main-nav {
    height: inherit;
    line-height: inherit;
    margin-right: 0.75em;
    vertical-align: auto;
}

.menu li {
    margin-left: 1em;
    margin-right: 1em;
    text-transform: uppercase;
    font-size: 1em;
    color: #8a8a8a;
    transition: color .2s;
}

.menu li:last-child {
    margin-right: 0;
}
/* NAV TRIGGERS FOR MOBILES
-------------------------------------------------------*/

#nav-triggers {
    display: none;
}
/* amleset page background-color for header
--------------------------------------------------*/
 /*End of Header
----------------------------------*/
/* MAIN 
--------------------------------------------*/
/*hompage front image---------*/

.h-img {
    background-image: url("../img/teddy-images/t.jpg");
}
/* Gallery header
---------------------------------*/

.g-img {
    background-image: url("../img/teddy-images/tr.jpg");
}

.bio-img {
    background-image: url("../img/teddy-images/perform.jpg");
}

.a-img {
    background-image: url("../img/teddy-images/amli\ copy.jpg");
}

.g-text {
    color: white;
}

.bc {
    background-attachment: scroll, fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: #fff;
    padding: 12em 0 20em 0;
    text-align: center;
    margin-top: 0;
}

.cta {
    background-color: #ed4933;
    color: #ffffff;
}

.cta {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    height: 3.125em;
    line-height: 3.125em;
    max-width: 30em;
    padding: 0 2.75em;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2::before {
    top: 0;
    left: 0;
}

h2::after {
    bottom: 0;
    right: 0;
}

.inner h2:before,
.inner h2:after {
    content: "";
    height: 2px;
    position: absolute;
    transition-delay: 0.25s;
    width: 100%;
}

.active {
    font-weight: 900;
}
/* Desktop first version (so, use "max-width")
--------------------------------------------------*/
/*section 2
--------------------------------------------*/

#banner {
    background: lightblue;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-align: center;
    padding: 2.5em 0 1.5em 0;
}

.wed-site {
    /* margin-left: 10em; */
    color: rgba(0, 0, 0, 0.5);
}

.img-1 {
    width: 100%;
    margin: 0 auto;
    /* border-style: solid;
   border-width: 3px;
   border-color: lemonchiffon; */
}

iframe.column-2 {
    display: block;
    min-height: 235px;
}

.button {
    background-color: #6c68c9;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    height: 3.125em;
    line-height: 3.125em;
    max-width: 30em;
    padding: 0 2.75em;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button-c {
    float: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}
/* END OF SECTION two------------------- */
/*  SECTION 3--------------------- */

.bottom-container {
    width: 100%;
    height: 400px;
    position: relative;
    text-align: left;
    align-content: center;
    background-image: url("../img/teddy-images/ted.jpg");
    background-size: cover;
    background-position: center;
    color: lightgreen;
    display: table;
}

.bottom-text-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.text {
    margin-left: 1em;
    font-size: 3em;
    letter-spacing: 12px;
    color: white;
}

.text-2 {
    font-size: 35px;
    margin-left: .5em;
    margin-top: 1em;
}
/*  END OF SECTION 3--------------------- */
/*  END OF SECTION --------------------- */
/* footer 
--------------------------------------------*/

.footer-box {
    margin-top: 0;
    padding: 20px;
    background-color: lightblue;
}

.social-icons {
    text-align: center;
    padding-top: 1px;
}

.social-icons li {
    list-style-type: none;
}

.social-icons li a {
    border-bottom: none;
}

.social-icons li img {
    width: 85px;
    height: 55px;
    /* margin-right: 20px; */
}

.copyright {
    text-align: center;
    color: white;
}


/* CONTACT PAGE 
-------------------------------------------------------- */
#name, #message, #email {
   width: 50%;
   text-align: center;
   box-sizing: border-box;
   border-radius: 4px;
   border: solid black 1px;
}
 

/* GALLERY MAIN 
-------------------------------------------------------- */

/* .wrapper.style2 {
    background-color: #2e3842;
}

.wrapper.alt {
    padding: 0;
}

.wrapper {
    padding: 6em 0 4em 0;
}

.spotlight:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.075);
}

.spotlight:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.15);
}

.spotlight .image img {
    border-radius: 0;
    width: 100%;
}

.spotlight {
    align-items: center;
    display: flex;
}

.spotlight .image {
    order: 1;
    border-radius: 0;
    width: 50%;
}

.image {
    border-radius: 3px;
    border: 0;
    display: inline-block;
    position: relative;
    margin-left: 30px;
}

.image-middle {
    margin-right: 30px;
}

.spotlight .content {
    padding: 2em 4em 0.1em 4em;
    order: 2;
    max-width: 48em;
    width: 50%;
}

.description {
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
} */

.bg-img {
    width: 100%;
}

.image1 {
     border: solid 6px linen;
}
.row img :not(#logo) {
    width: 300px;  
    height: 250px;
}

.image2 {
    width: 50%;
    margin-left: 70px;
    margin-bottom: 30px;
}

.p-box {
    width: 50%;
    height: 20%;
    background-color: #cceeff;
    /* border: solid 6px linen; */
    margin: 5em 5em 5em 4em;
}

.paragraph {
    padding: 3em 3em 0 3em;
    text-align: center;
    font-size: .9em;
}
/*BIOGRAPHY
----------------------------------------------*/

.Biography {
    color: darkred;
    border-bottom: solid 2px darkred;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.bg-co {
    background-color: aliceblue;
}

.b-title {
    margin-bottom: -0.7em;
    color: darkred;
}
/* MEDIA QUERIES
===================================================================================*/
/*# region media Queries*/
@media (max-width:1024px) {
    body {
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 0.015em;
        line-height: 1.5em;
        color: #888;
    }
    .row.align-top {
        margin-left: -1em;
    }
    .with-video .row {
        display: flex;
        align-items: flex-start;
    }
    .with-video .row p {
        margin-top: 0;
    }
    .column-2 {
        width: 48%;
    }
    .column-2.with-video {
        width: 100%;
        margin-top: 2em;
    }
    .with-video .row .column-2 {
        width: 48%;
    }
    iframe.column-2 {
        display: block;
        min-height: 300px;
    }
    .columns {
        width: 48%;

    }
    .columns:nth-child(4) {
       margin-left: 0;
       
   }
   .columns:nth-child(1), .columns:nth-child(3), .columns:nth-child(5) {
       margin-left: 2em;
       
   }

  
}

@media (max-width:800px) {
    /* LOGO*/
    .row:not(.top-header) {
       display: block;
   }
    .menu-is-open #logo {
        position: relative;
        z-index: 1;
        color: white;
    }
    #main-nav {
        display: none;
    }
    /*show nav triggers*/
    #nav-triggers {
        display: block;
        width: 44px;
        height: 44px;
        position: relative;
        overflow: hidden;
        /* to hide out of the box*/
        z-index: 1;
    }
    .trigger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .trigger img {
        width: 60%;
        background-color: #fff;
    }
    /* when menu is closed*/
    #close-menu {
        left: -100%;
    }
    /* menu is opened*/
    .menu-is-open #open-menu {
        left: -100%
    }
    .menu-is-open #close-menu {
        left: 0
    }
    /* mobile nav*/
    .menu-is-open {
        overflow: hidden;
    }
    .menu-is-open #main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .85);
        width: 100vw;
        height: 100vh;
    }
    .menu {
        text-align: center;
        font-size: 4vw;
    }
    .menu li {
        color: #888;
        margin: 0 0 2em 0;
    }
    .menu li:last-child {
        margin: 0;
    }
    .menu li.active {
        color: #fff;
        border: 0;
    }
    .columns:nth-child(1), .columns:nth-child(4) {
       margin-left: 0;
   }

}


@media (max-width: 600px) {
    .row:not(.top-header) {
        display: block;
    }
    .column-2,
    .columns {
        width: 100%;
    }
    .with-video .row .column-2 {
        width: 100%;
    }
}
/*the end--------*/